html,
body {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

a:link,
a:visited {
    text-decoration: none;
}

.wrapper {
    min-height: 100%;
}

#landing {
    background-image: url(/images/light-bulb.jpg);
    height: 750px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding-top: 30px;
}

#learn-container {
    background-image: url(/images/sprout.jpg);
    background-size: cover;
    height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

#learn-title {
    font-size: 80px;
    text-align: left;
    margin-left: 30px;
}

#get-involved-container {
    height: 700px;
    background-color: #ffdcd7;
    color: #87222e;
    padding: 50px;
}

#get-involved-title {
    font-size: 80px;
    text-align: right;
    margin-right: 30px;
}

#faq-container {
    background-image: url(/images/greenfield.jpg);
    background-size: cover;
    height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

#faq-title {
    font-size: 50px;
    margin-top: 0;
    padding-top: 60px;
    text-align: left;
    margin-left: 200px;
    color: teal;
}

#get-in-touch-title {
    font-size: 80px;
    text-align: right;
    margin-top: 0;
    padding-top: 60px;
    margin-right: 330px;
}

/* #map {
    width: 100vw;
    height: 700px;
} */

#map {
    background-color: #faf0dc;
    height: 100%;
    width: auto;
    margin-bottom: -50px;
}

.map-container {
    height: 725px;
    position: relative;
}
.control-panel {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 320px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    padding: 12px 24px;
    margin: 20px;
    font-size: 13px;
    line-height: 2;
    color: #6b6b76;
    outline: none;
    text-transform: uppercase;
    opacity: 0.8;
}

label {
    display: inline-block;
    width: 100px;
}

input {
    margin-left: 20px;
    width: 160px;
}

.tooltip {
    position: absolute;
    margin: 8px;
    padding: 4px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    max-width: 300px;
    font-size: 10px;
    z-index: 9;
    pointer-events: none;
}

#footer-ref > li > a {
    color: white;
    text-decoration: none;
}

.footer-input {
    width: 250px;
    height: 50px;
    border: 1px white solid;
    font-size: 20px;
    border-radius: 2px;
    padding-left: 5px;
    color: lightgrey;
    background-color: transparent;
}
